---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description
        ? frontmatter.description
        : "No description"}
    />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <h1>{frontmatter.title}</h1>
            <p>{frontmatter.description}</p>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
